.bukka-brand {
  font-family:  'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.70px;
  color: #222;
  cursor: pointer;
}

.bukka-brand:hover {
  outline: none;
  text-decoration: none;
  color: #222;
}
