.text-area {
  -webkit-appearance: none;
  min-height: 120px;
  width: 100%;
  resize: none;
  color: rgb(45, 49, 56);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  box-shadow: none !important;
  border-radius: 0px;
  border: 1px solid rgba(217, 219, 224, 0.5);
  outline: none;
}
