$fontFamily: 'Roboto', sans-serif;

@mixin list-group ($color) {
  font-family: $fontFamily;
  letter-spacing: 0.72px;
  text-decoration: none;
  outline: none;
  color: $color;
}

@mixin list-group-title($color) {
  margin-bottom: 10px;
  color: $color;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  font-weight: 500;
  font-size: 12px;
}

.list-group-title-black {
  @include list-group-title(#111)
}

.list-group-title-white {
  @include list-group-title(#fff)
}

.list-item-black {
  @include list-group(#111);
  display: block;
}

.list-item-white {
  @include list-group(#fff);
  display: block;
  margin-bottom: 10px;
}
