.verify-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  .sub-text {
    text-align: center;
  }

  .input-section {
    .space {
      padding: 50px;
    }
  }

  .error-margin-left {
    margin-left: 43px;
  }

  .prefix {
    border-bottom: 2px solid #eceff1;
  }

  .default-input:active {
    .prefix {
      border-bottom: 2px solid red;
    }
  }

  .bg-transparent {
    background: transparent;
  }

  .codeform-resend-btn {
    color: #9c1c26;
    text-decoration: underline;
    font-size: 18px;

    &:disabled {
      color: grey;
      font-size: 16px;
    }
  }

  .size-22-px {
    font-size: 22px;
  }
}
