.category_heading__text {
    font-size: 24px;
    & + .personalized-header-link {
        display: none;
    }
}

.send_complain_btn {
    width: 45%;
    height: 50px;
    text-transform: uppercase;
}
