.auth-page {
    @media (max-width: 576px) {
       background-color: white!important;
    }
    @media (max-width: 767px) {
       min-height: calc(#{"100vh - 65px"});
    }
}

.auth-wrapper {
    @media (max-width: 576px) {
        box-shadow: none!important;
     }
}
