.user-dropdown-container {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(16, 25, 30, 0.08) 0px 1px 4px);
    position: absolute;
    z-index: 1030;
    opacity: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(242, 243, 243);
    border-image: initial;
    transition: opacity 100ms ease-in-out 0s;
    left: calc((-450% + 24px) + -60px);
    top: 45px;
    @media screen and (min-width: 768px) {
        bottom: -17px;
        left: calc((-50% + 24px) + -60px);
        transform: translate(calc((-55% + 24px) + 0px), 100%);
    }
}

.user-dropdown-container::before {
    position: absolute;
    width: 0px;
    height: 0px;
    content: "";
    bottom: 100%;
    left: calc(50% - -60px);
    border-width: initial;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    @media screen and (min-width: 768px) {
        margin-left: -9px;
        border-bottom-color: rgb(242, 243, 243) !important;
        border-width: 9px !important;
    }
}

.user-dropdown-container::after {
    @media screen and (min-width: 768px) {
        margin-left: -8px;
        border-bottom-color: rgb(255, 255, 255) !important;
        border-width: 8px !important;
        position: absolute;
        width: 0px;
        height: 0px;
        content: "";
        bottom: 100%;
        left: calc(50% - -60px);
        border-width: initial;
        border-style: solid;
        border-color: transparent;
        border-image: initial;
    }
}

.user-dropdown-content {
    min-width: 215px;
    background-color: rgb(255, 255, 255);
}

.custom-user-dropdown {
    display: block;
    white-space: nowrap;
    &:hover {
        background: rgb(247, 245, 245);
        a {
            background: rgb(247, 245, 245)
        }
        button {
            background: rgb(247, 245, 245)
        }
    }
}

.custom-user-dropdown-item {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    cursor: pointer;
    padding: 0px 18px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    margin: 0px;
}

.user-dropdown-item-content {
    width: 100%;
    text-align: left;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    &:not(:last-child) > * > * {
        border-bottom: 1px solid rgba(217, 219, 224, 0.5);
    }
}

.custom-user-dropdown-text {
    display: inline-block;
    font-family: PostmatesStd, "Helvetica Neue", Helvetica;
    font-size: 16px;
    letter-spacing: -0.28px;
    font-weight: 500;
    line-height: normal;
    color: rgb(45, 49, 56);
    text-align: left;
    padding: 20px 0px;
}