.btn-group {
  width: 100%;
  background-color: #fff;
}

.btn-delivery, .btn-pickup {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0.72px;
  display: block;
  width: 100%;
  border-radius: 0px;
  text-transform: uppercase;
  border: none;
  height: 60px;
  cursor: pointer;
  color: grey;
  font-weight: 500;
  background-color: #fff
}

.btn-delivery {
  border-left: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
}

.btn-pickup {
  border-right: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
}

.btn-delivery:focus, .btn-pickup:focus {
  box-shadow: none;
  outline: none;
}

.delivery-mode-active {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #9c1c26;
  color: #111;
}
