.merchant-header {
  height: 800px;
  background-image: linear-gradient(
      to right bottom,
      rgba(30, 37, 30, 0.8),
      rgba(40, 47, 40, 0.7)
    ),
    url('https://res.cloudinary.com/mybukka/image/upload/v1558617694/home-background_ebbypp.jpg');
  background-size: cover;
  background-position: top;
  color: #fff;
  @media (max-width: 621px) {
    height: 550px;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 970px;
  width: 100%;

  .wrap-head {
    margin: 0 2%;
  }

  @media (max-width: 621px) {
    text-align: center;
  }
}

.merchant-header h1 {
  font-size: 60px;
  padding-top: 220px;
  letter-spacing: 2px;
  font-weight: 600;
  letter-spacing: 2px;

  @media (max-width: 621px) {
    font-size: 10vw;
    padding-top: 100px;
  }
}

.merchant-header h2 {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 55px;

  @media (max-width: 621px) {
    font-size: 7vw;
  }
}

.merchant-header h1,
.merchant-header h2 {
  line-height: 1.1;
  color: #fff;
  text-shadow: #36454f;
  font-family: myriad-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.merchant-header h1,
.testimonials .cite,
.btn,
.modal .modal-header p {
  text-transform: uppercase;
}

.merchant-header .scroll-down {
  text-align: center;
  margin-top: 100px;
}

.btn_text {
  font-weight: 700;
  height: 60px;
  line-height: 60px;
  background-color: #9c1c26;
  border-width: 0;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1.25px;
  display: inline-block;
  padding: 0 30px;
}

.chevron {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border: 0.25em solid #fff;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.chevron::after {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.75em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 0.75em;
  color: #fff;
}

.chevron.bottom:after {
  top: 0;
  transform: rotate(135deg);
}
