#component-toolbar {
  position: fixed;
  z-index: 9;
  width: 100%;

  .toolbar-container {
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-sizing: border-box;
    outline: none;
    height: 65px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }

  .toolbar__logo {
    width: 6em;
  }

  .pi-button {
    letter-spacing: 1px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    font-family: sans-serif;
    cursor: pointer;
    border: none;
    margin: 5px;
    background-color: transparent;
    text-align: center;
    color: #444;

    &:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22),
        0 4px 4px 0 rgba(0, 0, 0, 0.35);
      color: #222;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44),
        0 1px 1px 0 rgba(0, 0, 0, 0.68);
    }

    &:focus {
      outline: none;
    }

    &:focus::before {
      display: block;
      height: 150px;
      width: 150px;
      top: -58px;
      left: -30px;
      opacity: 0;
      content: '';
      background: #aaa;
      border-radius: 1000px;
      position: absolute;
      animation-name: fade;
      animation-timing-function: ease-out;
      animation-duration: 1s;
      z-index: -2;
    }
  }

  .with-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), 0 1px 1px 0 rgba(0, 0, 0, 0.59);
    background-color: rgba(255, 255, 255, 0.3);
  }
}
