.search-result-scene {
    .headline {
        @media (max-width: 576px){
            margin-bottom: 15px;
        }
    }
    .headline-h2 {
        font-size: 37px!important
    }
    .btn-delivery, .btn-pickup {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        letter-spacing: 0.72px;
        display: block;
        width: 100%;
        border-radius: 0px;
        text-transform: uppercase;
        border: none;
        height: 44px;
        cursor: pointer;
        color: grey;
        font-weight: 500;
        background-color: #fff;
    }
    .btn-delivery, .btn-pickup {
        border-bottom: none;
        border-left: none;
        border-right: none
    }
    .delivery-mode-active {
        color: #9c1c26;
        border-bottom: 2px solid #9c1c26!important;
    }
}

.mt-130 {
    margin-top: 30px;
    @media (min-width: 767px) {
        margin-top: 130px
    }
}
