.chevron-right-icon {
  margin-left: -8px;
}

.magnifier {
  margin-bottom: -16px;
  margin-left: -16;
}

.blankslate-icon {
  color: #9c1c26;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
}
.octicon {
  vertical-align: text-bottom;
}
.octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-top;
}

.email {
  .st0{fill:url(#SVGID_1_);}
	.st1{fill:url(#SVGID_2_);}
	.st2{fill:url(#SVGID_3_);}
	.st3{fill:#9c1c26;}
	.st4{fill:url(#SVGID_4_);}
	.st5{opacity:0.5;fill:url(#SVGID_5_);}
	.st6{fill:#c25960;}
	.st7{fill:url(#SVGID_6_);}
	.st8{opacity:0.5;fill:url(#SVGID_7_);}
	.st9{fill:url(#SVGID_8_);}
	.st10{opacity:0.2;fill:#FFFFFF;}
	.st11{opacity:0.2;fill:url(#SVGID_9_);}
	.st12{opacity:0.2;fill:url(#SVGID_10_);}
	.st13{opacity:0.2;fill:url(#SVGID_11_);}
}